<p id="notice"><%= notice %></p>

<p>
  <strong>Member name:</strong>
  <%= @payment.member_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @payment.bill_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
